<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/Home.css">
    <title><%=title%></title>
</head>
<body>
    <header>
        <img src="../media/logos/only_logog.jpg" alt="Logo">
        <span style="color: white;">
            <p style="font-size: 2.5rem;">Stockado</p>
            <p style="font-size: 1.25rem;">Dont Just Invest, Stockado it.</p>
        </span>
    </header>
    <main style="overflow-y: scroll; color: white;">
        <img src="/media/background.jpg" style="height: 82vh; width: 100%;" alt="Background">
        <h1 style="left:40%;top: 30%; position: absolute;">Welcome to Stockado.</h1>
        <p style="text-align: center;left:16%;top: 39%;position: absolute;">Stockado is a Machine Learning based stock prediction application that will help you get a rough idea of the stock price before others</p>
        <div id="option_displayer">
            <div id="view_full_prices">
                <a href="/prediction/everything" style="text-decoration: none; color: white;">
                    <span style="font-size: 1.75rem;">
                        Go to the Prediction Page
                    </span>
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
            <div id="view_full_prices2">
                <a href="/profile" style="text-decoration: none; color: white;">
                    <i class="fas fa-arrow-left"></i>
                    <span style="font-size: 1.75rem;">
                        Go to your Account
                    </span>
                </a>
            </div>
        </div>
    </main>
</body>
</html>