<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/Home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/Review.css">
    <title><%=title%></title>
</head>
<body>
    <header>
        <img src="/media/logos/only_logog.jpg">
        <span style="color: white;">
            <p style="font-size: 2.5rem;">Stockado</p>
            <p style="font-size: 1.25rem;">Dont Just Invest, Stockado it.</p>
        </span>
    </header>
    <a href="/prediction/everything">
        <i class="fas fa-arrow-left" style="color: white;font-size: 2rem;position: absolute;top: 20%;left: 1%;"></i>
    </a>
    <div style="color: white; font-size: 5rem;position:absolute; top: 25%; left: 49%;">
        <%if(rs[0].Current>0.75){%>
            <i class="fas fa-smile-beam"></i>
        <%}else{%>
            <%if(rs[0].Current>0.25){%>
                <i class="fas fa-meh"></i>
            <%}else{%>
                <i class="fas fa-frown"></i>
            <%}%>
        <%}%>
        
    </div>
    <p style="color: white; font-size: 2rem;position: absolute; top: 42%; left: 39%;">Review Score: <%=rs[0].Current%></p>
    <p style="color: white; font-size: 2rem;position: absolute; top: 47%; left: 35%;">Market Sentiment: 
        <%if(rs[0].Current>0.75){%>
            Positive
        <%}else{%>
            <%if(rs[0].Current>0.25){%>
                Neutral
            <%}else{%>
                Negative
            <%}%>
        <%}%>
    </p>
    <h1 style="color: white; position: absolute; top: 55%;">Financial News:</h1>
    <div id="reviews_list">
        <ul>
            <%for(var i=0; i<reviews.length;i++){%>
                <li>
                    <p><%=i+1%>) <%=reviews[i].Review%>- 
                    <%if(reviews[i].Type==1 || reviews[i].Type=='1'){%>
                        Positive
                    <%}else{%>
                        Negative
                    <%}%>
                    </p>
                </li>
                <br>
            <%}%>
        </ul>
    </div>

</body>
</html>