<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>  
    <div style="background-color: orange; padding: 1%; padding-bottom: 0%; overflow: overlay;">
        <div style="background-color: white; margin-top: 1%;">
            <p>
                Hi <%=user.name_of_account_holder%>! Your account on Stockado has just been accessed with the email id: <%=user.email%>.
            </p>
            <p>
                The time of the event was: <span id="date"><%=date%></span>
            </p>
            <p>
                This is a no reply email id. Do not reply to it. If you want to contact us you can mail us at <code>sapra.taj@live.com</code>
            </p>
        </div>
    </div>

</body>
</html>